.light {
  code.hljs {
    color: #4c4f69;
    background: #eff1f5
  }

  code .hljs-keyword {
    color: #8839ef
  }

  code .hljs-built_in {
    color: #d20f39
  }

  code .hljs-type {
    color: #df8e1d
  }

  code .hljs-literal {
    color: #fe640b
  }

  code .hljs-number {
    color: #fe640b
  }

  code .hljs-operator {
    color: #04a5e5
  }

  code .hljs-punctuation {
    color: #5c5f77
  }

  code .hljs-property {
    color: #179299
  }

  code .hljs-regexp {
    color: #ea76cb
  }

  code .hljs-string {
    color: #40a02b
  }

  code .hljs-char.escape_ {
    color: #40a02b
  }

  code .hljs-subst {
    color: #6c6f85
  }

  code .hljs-symbol {
    color: #dd7878
  }

  code .hljs-variable {
    color: #8839ef
  }

  code .hljs-variable.language_ {
    color: #8839ef
  }

  code .hljs-variable.constant_ {
    color: #fe640b
  }

  code .hljs-title {
    color: #1e66f5
  }

  code .hljs-title.class_ {
    color: #df8e1d
  }

  code .hljs-title.function_ {
    color: #1e66f5
  }

  code .hljs-params {
    color: #4c4f69
  }

  code .hljs-comment {
    color: #7c7f93
  }

  code .hljs-doctag {
    color: #d20f39
  }

  code .hljs-meta {
    color: #fe640b
  }

  code .hljs-section {
    color: #1e66f5
  }

  code .hljs-tag {
    color: #179299
  }

  code .hljs-name {
    color: #8839ef
  }

  code .hljs-attr {
    color: #1e66f5
  }

  code .hljs-attribute {
    color: #40a02b
  }

  code .hljs-bullet {
    color: #179299
  }

  code .hljs-code {
    color: #40a02b
  }

  code .hljs-emphasis {
    color: #d20f39;
    font-style: italic
  }

  code .hljs-strong {
    color: #d20f39;
    font-weight: bold
  }

  code .hljs-formula {
    color: #179299
  }

  code .hljs-link {
    color: #209fb5;
    font-style: italic
  }

  code .hljs-quote {
    color: #40a02b;
    font-style: italic
  }

  code .hljs-selector-tag {
    color: #df8e1d
  }

  code .hljs-selector-id {
    color: #1e66f5
  }

  code .hljs-selector-class {
    color: #179299
  }

  code .hljs-selector-attr {
    color: #8839ef
  }

  code .hljs-selector-pseudo {
    color: #179299
  }

  code .hljs-template-tag {
    color: #dd7878
  }

  code .hljs-template-variable {
    color: #dd7878
  }

  code .hljs-addition {
    color: #40a02b;
    background: rgba(64, 160, 43, .15)
  }

  code .hljs-deletion {
    color: #d20f39;
    background: rgba(210, 15, 57, .15)
  }

}

.dark {
  code.hljs {
    color: #cad3f5;
    background: #24273a
  }

  code .hljs-keyword {
    color: #c6a0f6
  }

  code .hljs-built_in {
    color: #ed8796
  }

  code .hljs-type {
    color: #eed49f
  }

  code .hljs-literal {
    color: #f5a97f
  }

  code .hljs-number {
    color: #f5a97f
  }

  code .hljs-operator {
    color: #91d7e3
  }

  code .hljs-punctuation {
    color: #b8c0e0
  }

  code .hljs-property {
    color: #8bd5ca
  }

  code .hljs-regexp {
    color: #f5bde6
  }

  code .hljs-string {
    color: #a6da95
  }

  code .hljs-char.escape_ {
    color: #a6da95
  }

  code .hljs-subst {
    color: #a5adcb
  }

  code .hljs-symbol {
    color: #f0c6c6
  }

  code .hljs-variable {
    color: #c6a0f6
  }

  code .hljs-variable.language_ {
    color: #c6a0f6
  }

  code .hljs-variable.constant_ {
    color: #f5a97f
  }

  code .hljs-title {
    color: #8aadf4
  }

  code .hljs-title.class_ {
    color: #eed49f
  }

  code .hljs-title.function_ {
    color: #8aadf4
  }

  code .hljs-params {
    color: #cad3f5
  }

  code .hljs-comment {
    color: #939ab7
  }

  code .hljs-doctag {
    color: #ed8796
  }

  code .hljs-meta {
    color: #f5a97f
  }

  code .hljs-section {
    color: #8aadf4
  }

  code .hljs-tag {
    color: #8bd5ca
  }

  code .hljs-name {
    color: #c6a0f6
  }

  code .hljs-attr {
    color: #8aadf4
  }

  code .hljs-attribute {
    color: #a6da95
  }

  code .hljs-bullet {
    color: #8bd5ca
  }

  code .hljs-code {
    color: #a6da95
  }

  code .hljs-emphasis {
    color: #ed8796;
    font-style: italic
  }

  code .hljs-strong {
    color: #ed8796;
    font-weight: bold
  }

  code .hljs-formula {
    color: #8bd5ca
  }

  code .hljs-link {
    color: #7dc4e4;
    font-style: italic
  }

  code .hljs-quote {
    color: #a6da95;
    font-style: italic
  }

  code .hljs-selector-tag {
    color: #eed49f
  }

  code .hljs-selector-id {
    color: #8aadf4
  }

  code .hljs-selector-class {
    color: #8bd5ca
  }

  code .hljs-selector-attr {
    color: #c6a0f6
  }

  code .hljs-selector-pseudo {
    color: #8bd5ca
  }

  code .hljs-template-tag {
    color: #f0c6c6
  }

  code .hljs-template-variable {
    color: #f0c6c6
  }

  code .hljs-addition {
    color: #a6da95;
    background: rgba(166, 218, 149, .15)
  }

  code .hljs-deletion {
    color: #ed8796;
    background: rgba(237, 135, 150, .15)
  }
}