.tiptap p.is-editor-empty:first-child::before {
  @media (prefers-color-scheme: light) {
    color: #9d9d9d;
  }

  @media (prefers-color-scheme: dark) {
    color: #7b7b7b;
  }

  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.light .tiptap-drop-cursor {
  color: #c9c9c9;
}

.dark .tiptap-drop-cursor {
  color: #636363;

}