name: Deploy Frontend

on:
  push:
    tags:
      - '*'

jobs:
  deploy-fe:
    name: Deploy Frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46

      - name: Check FE changes
        if: contains(steps.changed-files.outputs.all_changed_files, 'packages/fe/')
        run: |
          echo "FE_CHANGED=true" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Deploy Frontend
        if: env.FE_CHANGED == 'true'
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            sh /root/srv/deploy hong97-ltd.sh